$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$primary-fontcolor: #6C6C6C;
$header-grey: #D0D0D0;
$sidebar-grey: #E6E6E6;
$light-background: HSLA(0, 0%, 95%, 1);
@font-family-serif;


body {
    font-size: 100%;

}

h2 {
    margin-top: 0;
}


header{
    background-color: $light-background;
    height: 150px;
    width: 100%;

    span, 
    ul,
    li,
    h1,
    a {
        display:inline-block;
        color: $primary-fontcolor;
    }

    .logo {
        height: 100px;
        padding-top: 10px;

    }

    ul {
        width: 33%;
        text-align: right;
        margin:0;
        padding-right: 10px;

        li {
            font-size: 2em;
            margin: 0 10px;
        }
    }

    span {
        font-size: 1.5em;
        width: 33%;
        height: 100%;
        padding-left: 15px;
    }
}





.wrapper {
    width: 100%;
    margin:0;
    padding:0;
}

aside {
    float:left;
    width: 15%;
    background-color:$header-grey;
    min-height: 800px;
    margin-bottom: 5px;
    margin-top: 0;

    li,
    a {
        color: $primary-fontcolor;
    }

}
.menu-list {
    list-style: none;
    padding-top:50px;
    margin-left: 0;
    padding-left: 0;

    li {
        margin: 15px auto;
        padding-bottom: 15px;
        border-bottom: 1px solid $primary-fontcolor;
        text-align: center;
        width: 50%;
        font-size: 1.5em;
    }
}


.content {
    outline: 1px red solid;
    width: 70%;
    margin: 0 auto;
    padding: 60px 10px;


}

.small-food {
    margin: 10px 11px 20px;

}

.image-row {
    margin-bottom:10px;    
}

.small-food-header {
    font-size: 1.5em;
    color: HSLA(111, 44%, 57%, 1);
    
}

.small-food-line {
    color: $header-grey;
    display:inline-block;

}

.small-food-div-line {
    border-top: 3px solid $header-grey;
    margin: 0 auto;
    display:inline-block;

}



