$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$primary-fontcolor: #6C6C6C;
$header-grey: #D0D0D0;
$sidebar-grey: #E6E6E6;
@font-family-serif;


body {
    font-size: 100%;

}



header{
    background-color: $header-grey;
    height: 4em;
    width: 100%;

    span, 
    ul,
    li,
    h1,
    a {
        display:inline-block;
        outline: 1px blue solid;
        color: $primary-fontcolor;
    }

    h1 {
        font-size: 2.5em;
        text-transform: uppercase;
        width: 33%;
        margin:0;
        text-align: center;
        padding-top: 5px;

    }

    ul {
        width: 33%;
        text-align: right;

        li {
            font-size: 2em;
            margin: 0 10px;
        }
    }

    span {
        font-size: 1.5em;
        width: 33%;
        height: 100%;
    }
}






.wrapper {
    width: 100%;
    margin:0;
    padding:0;
}

aside {
    float:left;
    width: 10%;
    background-color:$sidebar-grey;
    min-height: 800px;
    margin-bottom: 5px;

    li,
    a {
        color: $primary-fontcolor;
    }

}
.menu-list {
    list-style: none;
    padding-top:50px;
    margin-left: 0;
    padding-left: 0;

    li {
        margin: 15px auto;
        padding-bottom: 15px;
        border-bottom: 1px solid $primary-fontcolor;
        text-align: center;
        width: 50%;
        font-size: 1.5em;
    }
}




.content {
    outline: 1px red solid;
    width: 80%;
    margin: 0 auto;
}





