$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$primary-fontcolor: #6C6C6C;
$header-grey: #D0D0D0;
$sidebar-grey: #E6E6E6;
@font-family-serif;


body {
    font-size: 100%;

}

.header{
    width: 100%;
    background-color: $header-grey;
    position:relative;
    height: 4em;

    span, 
    ul,
    li,
    h1 {
        display:inline;
        outline: 1px blue solid;
    }

    h1 {
        font-size: 2.5em;
        text-transform: uppercase;
        width: 100%;
        position:absolute;
        text-align: center;
        right:0;
        top:0;
        left:0;

    }

    ul {
        position: absolute;
        right:0;

        li {
            width: 100%;
            font-size: 1.5em;
        }
    }

    span {
        font-size: 1.5em;
        position:absolute;
        left: 0;
    }
}

.wrapper {
    width: 100%;
}

.menu-list {
    list-style: none;
    float:left;
    background-color:$sidebar-grey;
    padding-top:50px;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 80%;

    li {
        margin-top: 15px;
        border-bottom: 1px solid $primary-fontcolor;
        text-align: center;
        width: 60%;
        font-size: 1.5em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
    }
}

.content {
    outline: 1px red solid;
    width: 80%;
    padding-bottom: 100%;
    margin-top: 1%;
    margin-left: 13%;
    z-index: 10;
}