<section class  ='image-row'>
    <h2 class='small-food-header'>My Recipes</h2>
    <div class='small-food-div-line'></div>
    {{#link-to 'recipes.detail'}}
    <div class='small-food-image'></div>
    <img class ='small-food' src='http://lorempixel.com/output/food-q-c-150-150-8.jpg'/>
    <img class ='small-food' src='http://lorempixel.com/output/food-q-c-150-150-5.jpg'/>
    <img class ='small-food' src='http://lorempixel.com/output/food-q-c-150-150-6.jpg'/>
    <img class ='small-food' src='http://lorempixel.com/output/food-q-c-150-150-3.jpg'/>
    <img class ='small-food' src='http://lorempixel.com/output/food-q-c-150-150-1.jpg'/>
    {{/link-to}}
</section>
<section class  ='image-row'>
    <h2 class='small-food-header'>Public Recipes</h2>
    <div class='small-food-div-line'></div>
    
</section>
<section class  ='image-row'> 
    <h2 class='small-food-header'>Popular Recipes</h2>
    <div class='small-food-div-line'></div>

</section>
<section class  ='image-row'> 
    <h2 class='small-food-header'>My Favorite Recipes</h2>
    <div class='small-food-div-line'></div>
    
</section>
<section class  ='image-row'> 
    <h2 class='small-food-header'>My Pantry</h2>
    <div class='small-food-div-line'></div>
    
</section>