<h2 class='small-food-header'>My Recipes</h2>
<section class  ='image-row'>
{{!--     {{#link-to 'recipes.detail'}}
 --}}    
 	<div class='small-food-image'></div>
    <div class='small-food-image'></div>
    <div class='small-food-image'></div>
    <div class='small-food-image'></div>
    <div class='small-food-image'></div>
{{!--     {{/link-to}}
 --}}</section>
