<h1 class='login'>Login</h1>
<form>
    {{input type='text' value=username placeholder='Username'}}
    {{input type='password' value=password placeholder='Password'}}
    {{input type='submit' value='Login'}}
    {{#link-to 'signup'}}<h3>Create an Account</h3>{{/link-to}}
</form>    
