<h1 class='login small-food-header'>Login</h1>
<form class='forms'>
    {{input type='email' value=email placeholder='Email'}}
    {{input type='password' value=password placeholder='Password'}}
    <button {{action 'login'}}>Login</button>
    {{#link-to 'signup'}}Create An Account{{/link-to}}
</form>    
