<h1 class='signup'>Create an Account</h1>
<form>
    {{input type='email' value=email placeholder='Email'}}
    {{input type='password' value=password placeholder='Password'}}
    <button {{action 'createUser'}}>Create Account</button>


</form>
