<h1 class='signup small-food-header'>Create an Account</h1>
<form class='forms'>
    {{input type='email' value=email placeholder='Email'}}
    {{input type='password' value=password placeholder='Password'}}
    <button {{action 'createUser'}}>Create Account</button>
</form>
